<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Universidade</th>
      <th>Municipio</th>
      <th>Area enquadramento</th>
      <th>Nota idd</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @course.municipio_curso %>
      </td>
      <td>
        <%= @course.area_enquadramento %>
      </td>
      <td>
        <%= Float.round(@course.nota_padronizada_idd, 2) %>
      </td>
    </tr>
  </tbody>
</table>
